body {background-color: Tomato;}
h1   {color: White; text-align: center;}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.button {
  background-color: #ffa500;
  border: none;
  color: white;
  padding: 15px 25px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button:hover {
  background-color: Yellow;
}

p  
{
	text-align: center;
}

canvas
{
  border: 1px solid black;
  cursor: none;
}
